.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow-y: scroll;
    top: 57px;
    bottom: 0;
    padding-top: 20px;
    row-gap: 20px;
    width: 240px;
    border-color: white;
    z-index: 100;
    background-color: rgb(33, 33, 33);
    overflow: auto;
    transition: width 0.4s;
}
.sidebar::-webkit-scrollbar {
    width: 10px;
}
.sidebar::-webkit-scrollbar-thumb {
    visibility: hidden;
    border-radius: 10px;
    background: rgb(111, 111, 111); 
}
.sidebar:hover::-webkit-scrollbar-thumb {
    visibility:visible;
}
.sidebar p{
    font-size: 15px;  
}
.sidebar-row{
    display: flex;
    flex-direction: row;
    column-gap: 29px;
    padding-left: 26px;
    align-items: center;
    height: 40px;
}
.sidebar-row:hover{
    cursor: pointer;
    background-color: rgb(51, 51, 51);
}
.sidebar-row p{
    text-overflow:ellipsis;
    overflow:hidden;
    
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.online-status{
    width: 240px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.online{
    color: rgb(114, 255, 255);
    font-weight: bold;
    padding-right: 6px;
}
.sidebar-image{
    height: 22px;
    width: 22px;

}
.sidebar-sb3-image{
    height: 25px;
    width: 25px;
    border-radius: 20px;
}
.sidebar-sb5-image{
    height: 23px;
    width: 25px;
}
.sb1,.sb2,.sb3,.sb4,.sb5,.sb6{
    display: flex;
    flex-direction: column;
    margin-top: -9px;
    padding-bottom: 12px;
    border-bottom-style: solid;
    border-color: rgb(51, 51, 51);
    border-width: 1px;
}
.sb7{
    display: flex;
    flex-direction: column;
    margin-top: -9px;
    row-gap: 13px;
    padding-left: 28px;
    padding-top: 8px;
    padding-bottom: 20px;
}
.sb7 p{
    font-size: 14px;
    color: #AAAAAA;
}
.sb7-r-main{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
.sb7-r{
    display: flex;
    flex-direction: row;
    column-gap: 9px;
}
.sb7-last-row {
    font-size:12px;
    color: #7a7a7a;
}
.sidebar-row-heading{
    font-size: 14px;
    font-weight: 500;
    color:#AAAAAA;
    padding-left: 28px;
    padding-top: 8px;
    padding-bottom: 12px;
}
.sb7 p:hover{
    cursor: pointer;
}

